*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	color: #fff;
	//background: #2f3238;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}
a {
	color: #000000;
	text-decoration: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

a:hover,
a:focus {
	color: #afb3b8;
	outline: none;
}
@media screen and (max-width: 30em) {
	.codrops-header h1 {
		font-size: 3em;
	}
}
